header {
  background-color: #ffffff;
  padding: 15px;
}
.section{
  backdrop-filter: blur(5px);
}

.footerClass {
  background-color: #ffffff;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.headertxt{
  color: #00a1e0;
  font-size: 11px;
}